.IntroPerfil{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.ContainerInfoPerfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
    width: 70%;
}

.NameProfile{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;

}

.TextProfile{
    font-size: .890rem;
    line-height: 1.25rem;
    font-family: "Inconsolata", monospace;
    
}

.ContainerLocation{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.ContainerLocation a{
    text-decoration: none;
    color: rgb(88, 88, 88);
    
}

.ContainerLocation a:hover{
    text-decoration:underline;
    
}


.ContainerPhoto{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: 1px solid rgba(165, 165, 165, 0.781);
    background-image: url(../../../public/profile.jpg);
    background-position: center top;
    background-size: cover;
}