.IntroPerfil {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ContainerInfoPerfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  margin: 2rem 0rem;
}

.NameProfile {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  text-align: center;
}

.TextProfile {
  font-size: 1rem;
  line-height: 1.25rem;
}

.ContainerLocation {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 1rem 0rem 0.5rem 0rem;
}

.ContainerLocation a {
  text-decoration: none;
  color: rgb(88, 88, 88);
}

.ContainerLocation a:hover {
  text-decoration: underline;
}

.ContainerSocialMedia {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}

.ContainerPhoto {
  width: 200px;
  height: 200px;
  margin-left: auto;
  border-radius: 8px;
  border: 1px solid rgba(165, 165, 165, 0.781);
  background-image: url(../../../public/profile.jpg);
  background-position: center top;
  background-size: cover;
}
