.AboutMe{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Tittle{
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;

}

.Text{
    
    font-family: "Inconsolata", monospace;
}